/*Global reset*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:62.5%;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html {
	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
}

body{
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) 
	[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
		grid-template-columns: [full-start] minmax(6rem, 1fr) 
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: 6rem calc(100vh - 6rem);
	}
}